SPORT_OLTP_DB=sportoltp
SPORT_OLTP_USER=oltp
SPORT_OLTP_PASSWORD=oltp_pwd

SPORT_OLAP_DB=sportdw
SPORT_OLAP_USER=olap
SPORT_OLAP_PASSWORD=olap_pwd

AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow

GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

SLACK_WEBHOOK_URL=your_slack_webhook_url_here
SLACK_PIPELINE_ALERTS_WEBHOOK_URL=your_pipeline_alerts_webhook_url_here